:root {
  --white: rgb(245 245 245);
  --orange: #3a2423;
  --blue: #347ab9;
  --red: #3a2423;
  --color-background: #fffef3;
  --color-heading: var(--orange);
  --color-heading-background: var(--red);
  --color-nav-current: #ebe7bd;
  --color-text-secondary: #fffef3;
  --color-nav: #ebe7bd;
  --color-logo: var(--orange);
  --color-text-h1: #fffef3;
  --color-border: var(--orange);
  --color-post-background: #fffef3;
  --color-post-text: #3a2423;
  --mobile-breakpoint: 768px;
}
