:root {
  --white: rgb(245 245 245);
  --orange: #ffc052;
  --blue: #347ab9;
  --red: #b54b44;
  --color-background: #ffffff;
  --color-heading: var(--orange);
  --color-heading-background: var(--red);
  --color-nav-current: var(--red);
  --color-text-secondary: var(--red);
  --color-nav: var(--orange);
  --color-logo: var(--orange);
  --color-text-h1: var(--orange);
  --color-border: var(--orange);
  --color-post-background: #281f2c;
  --color-post-text: var(--white);
  --mobile-breakpoint: 768px;
}
