---
import Layout from '../layouts/Layout.astro';
import { getCollection, getEntry } from 'astro:content';
import PagePreview from '../components/PagePreview.astro';
import Intro from '../components/Intro.astro';
const writingCollection = await getCollection('writing', ({ data }) => !!data.featured);
const portfolioCollection = await getCollection('portfolio', ({ data }) => !!data.featured);
const introEntry = await getEntry('intro', 'paragraph');
const { Content } = await introEntry.render();
---

<Layout title='Grayson Gail West'>
  <div class='intro-container' slot='intro'>
    <Intro title={introEntry.data.title} greeting={introEntry.data.greeting}>
      <div class='intro-content'>
        <Content />
      </div>
    </Intro>
  </div>
  <div class='page-previews'>
    <PagePreview
      path='how-i-think'
      title='How I think'
      children={writingCollection}
      previewStyle='panel'
    />
    <PagePreview
      path='the-work'
      title='The Work'
      children={portfolioCollection}
      previewStyle='square'
    />
  </div>
</Layout>

<style>
  .page-previews {
    display: flex;
    flex-direction: column;
    gap: 42px;
  }
</style>
