---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Values from "@components/Values.astro";
---

<Layout>
  <main>
    <Hero></Hero>
    <Values/>
  </main>
</Layout>

<style>


  main {
    padding: 16px;
    color: white;
  }
</style>
