---
import Layout from '../layouts/Layout.astro';
import Values from '../components/Values.astro';
import { getCollection, getEntry } from 'astro:content';
import PagePreview from '../components/PagePreview.astro';
import Intro from '../components/Intro.astro';
const writingCollection = await getCollection('writing');
const portfolioCollection = await getCollection('portfolio');
const introEntry = await getEntry('intro', 'paragraph');
const { Content } = await introEntry.render();
---

<Layout title='Grayson Gail West'>
  <Intro title={introEntry.data.title} greeting={introEntry.data.greeting}>
    <Content />
  </Intro>
  <Values />
  <div class='page-previews'>
    <PagePreview path='' title='test' children={writingCollection} previewStyle='panel' />
    <PagePreview path='' title='The Work' children={portfolioCollection} previewStyle='square' />
  </div>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    gap: 42px;
    padding: 16px;
    color: var(--white);
  }

  .page-previews {
    display: flex;
    flex-direction: column;
    gap: 42px;
  }
</style>
