.nav-link {
  padding: 8px;
  font-size: 1.125rem;
  font-weight: 700;
  color: var(--color-nav);
  text-decoration-color: transparent;
  text-transform: uppercase;
  transition: 250ms ease-in all;

  &:hover,
  &:focus-visible {
    text-decoration-color: inherit;
  }

  &.active {
    background: var(--color-nav-current);
  }
}
