---
import type { WebPage } from '../types/Page.mts';
import SiteHeader from './SiteHeader.tsx';
import { getEntry } from 'astro:content';
interface Props {
  mainLandmarkId: string;
}

const { mainLandmarkId }: Props = Astro.props;
const footerContent = await getEntry('footer', 'footer');

const pages: WebPage[] = [
  { path: '/how-i-lead', title: 'How I Lead' },
  { path: '/the-work', title: 'The Work' },
  { path: `mailto:${footerContent.data.email}`, title: "Let's Chat" },
];
---

<header class='header'>
  <a href={`#${mainLandmarkId}`} class='skip-link'>Skip to main content</a>
  <a class='logo' href='/'>GGW</a>
  <SiteHeader
    navItems={pages}
    currentPath={new URL(Astro.request.url).pathname}
    client:only='react'
  />
</header>

<style>
  .skip-link {
    position: absolute;
    top: -1000px;
    left: -1000px;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    white-space: nowrap;
  }

  .header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  a.logo {
    padding: 10px;
    font-size: 2.5rem;
    font-style: italic;
    font-weight: 900;
    line-height: 1;
    color: var(--orange);
    text-decoration: none;
  }
</style>
