.nav-container {
  display: flex;
  justify-content: flex-end;
}

.nav-drawer {
  position: absolute;
  inset: 100% 0 -100vh;
  z-index: 3;
  padding: 0 16px;
  text-align: right;
  background: var(--color-background);

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    list-style: none;
  }
}

.nav-drawer-button {
  position: relative;
  z-index: 100;
  margin: 20px;
  background: none;
  border: none;

  img {
    width: 32px;
    height: 32px;
  }
}
