---
import type { WebPage } from '../types/Page.mts';
import SiteHeader from './SiteHeader.tsx';
// TODO: skip link

const pages: WebPage[] = [
  { path: 'how-i-think', title: 'How I Think' },
  { path: 'the-work', title: 'The Work' },
  { path: 'contact', title: "Let's Chat" },
];

// TODO: how can I make this reusable? I tried putting in its own .ts file but it didn't work
const currentPath = getCurrentPath();

function getCurrentPath() {
  const pathname = new URL(Astro.request.url).pathname;
  const currentPath = pathname.slice(1); // remove the first "/
  return currentPath;
}
---

<header class='header'
  ><a class='logo' href='/'>GGW</a>
  <SiteHeader navItems={pages} currentPath={currentPath} client:only='react' />
</header>

<style>
  .header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  a.logo {
    padding: 10px;
    font-size: 2.5rem;
    font-style: italic;
    font-weight: 900;
    line-height: 1;
    color: var(--orange);
    text-decoration: none;
  }
</style>
