---
import type { WebPage } from '../types/Page.mts';
import NavMenu from './NavMenu.tsx';

interface Props {
  pages?: WebPage[];
  title: string;
}

const { pages = [], title } = Astro.props;

function formatAsElementId(title: string) {
  return title.toLowerCase().replace(/\s/g, '-');
}

function getCurrentPath() {
  const pathname = new URL(Astro.request.url).pathname;
  const currentPath = pathname.slice(1); // remove the first "/
  return currentPath;
}
---

<div class='hero'>
  <div class='heading-container'>
    <h1 class='heading'>{title}</h1>
    {
      pages.length ? (
        <NavMenu
          pages={pages}
          elementId={formatAsElementId(title)}
          currentPath={getCurrentPath()}
          client:only='react'
        />
      ) : null
    }
  </div>
</div>

<style>
  .hero {
    display: flex;
    min-height: 400px;
    padding: 25px;
    background: gray;
  }

  .heading-container {
    display: flex;
    align-self: flex-end;

    button {
      display: flex;
      align-items: flex-end;
      height: 100%;
      padding: 13px 0;
    }
  }

  .heading {
    width: fit-content;
    padding: 20px;
    font-size: 3.75rem;
    font-style: italic;
    font-weight: 900;
    color: var(--orange);
    text-transform: uppercase;
    background: var(--color-background-heading);
  }
</style>
