---
import type { WebPage } from '../types/Page.mts';
import BackgroundImage from './BackgroundImage.astro';
import NavMenu from './NavMenu.tsx';
import hero from '../assets/hero.jpeg';

interface Props {
  pages?: WebPage[];
  title: string;
}

const { pages = [], title } = Astro.props;

function formatAsElementId(title: string) {
  return title.toLowerCase().replace(/\s/g, '-');
}
---

<div class='hero'>
  <BackgroundImage image={hero} alt='' class:list={['image']} />

  <div class='heading-container'>
    <h1 class='heading'>{title}</h1>
    {
      pages.length ? (
        <NavMenu
          pages={pages}
          elementId={formatAsElementId(title)}
          currentPath={new URL(Astro.request.url).pathname}
          client:only='react'
        />
      ) : null
    }
  </div>
</div>

<style>
  .hero {
    position: relative;
    display: flex;
    min-height: 279px;
    padding: clamp(12px, 4vw, 25px);
    background: gray;
  }

  .heading-container {
    position: relative;
    z-index: 2;
    display: flex;
    align-self: flex-end;

    button {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      height: 100%;
      padding: 13px 0;
    }
  }

  .heading {
    flex: 10;
    padding: 20px;
    font-size: clamp(1.4rem, 10vw, 2.25rem);
    font-style: italic;
    font-weight: 900;
    line-height: 1;
    color: var(--orange);
    text-transform: uppercase;
    background: var(--color-heading-background);
  }
</style>
