<div class='hero'>
  <h1 class='heading'>Grayson Gail West</h1>
</div>

<style>
  .hero {
    display: flex;
    min-height: 400px;
    padding: 25px;
    background: gray;
  }

  .heading {
    align-self: flex-end;
    width: fit-content;
    padding: 20px;
    font-size: 3.75rem;
    font-style: italic;
    font-weight: 900;
    color: var(--orange);
    text-transform: uppercase;
    background: var(--color-background-heading);
  }
</style>
