---
interface Props {
  title: string;
  greeting: string;
}

const { title, greeting } = Astro.props;
---

<div class='intro'>
  <h2>{title}</h2>
  <div class='big-content'>
    <p class='greeting'>{greeting}</p>
  </div>
</div>

<style>
  .intro {
    --flex-element-padding: clamp(10px, 1vw, 40px);

    color: #372524;
    margin-top: -20px;

    p {
      margin: 0;
    }

    .big-content {
      display: flex;
      flex-wrap: wrap;
      gap: 1px;
      align-items: flex-start;

      .greeting {
        font-size: 1.5rem;
        line-height: 1.3;
        padding: 20px;
      }

      /* Unused now:
      :not(.greeting) {
        font-size: 1rem;
        line-height: 1.2;
        color: var(--orange);
      }

      > * {
        flex: 1 0 24ch;
        padding: var(--flex-element-padding);
      } */
    }

    h2 {
      padding: 0 var(--flex-element-padding);
      font-size: 1.5rem;
      font-weight: 800;
      text-transform: uppercase;
      margin-top: 0;
    }
  }
</style>