.nav-menu {
  z-index: 1;
  display: flex;
  flex: 1 0;
  flex-direction: column;

  button {
    color: var(--color-text-secondary);
    cursor: pointer;
    background: var(--color-background);
    border: none;

    &:not(:focus-visible) {
      outline: none;
    }
  }

  nav {
    position: absolute;
    min-height: 110%;
  }

  @media screen and (width <= 768px) {
    nav {
      right: 0;
      left: 0;
    }
  }
}
