---
import { type CollectionEntry } from 'astro:content';
import ContentPreviewMasonry from './ContentPreviewMasonry.astro';

type ChildPage = CollectionEntry<'portfolio' | 'writing'>;

interface Props {
  title: string;
  children: ChildPage[];
  path: string;
}

const { title, children, path } = Astro.props;
---

<div class='page-preview'>
  <div class='page-preview-header'>
    <h2 class='page-title'>{title}</h2>
    <a class='page-link' href={path}>View All</a>
  </div>
  <ContentPreviewMasonry basePath={path} collection={children} previewLocation='home' columns={4} />
</div>
<style>
  .page-preview {
    --preview-flex-gap: 22px;
    --card-height: 250px;

    padding: 16px;
  }

  .page-preview-header {
    display: flex;
    gap: var(--preview-flex-gap);
    align-items: flex-end;
    margin-bottom: 16px;
  }

  h2.page-title {
    font-size: 2rem;
    font-weight: 800;
    line-height: 1;
    color: var(--color-heading);
    text-transform: uppercase;
  }

  .page-link {
    font-size: 1rem;
    font-weight: 800;
    color: var(--white);
    text-decoration: underline;
    text-decoration-color: transparent;
    text-transform: uppercase;
    white-space: nowrap;
    transition: 250ms ease-in-out all;

    &:hover,
    &:focus {
      text-decoration-color: inherit;
    }
  }
</style>
