---
import { getCollection } from "astro:content";
const allTraits = await getCollection('personality');
---

<div class="my-personality">
  <ul class="personality-traits">
    {allTraits.map((trait) => (<li>{trait.data.text}</li>))}
  </ul>


</div>

<style>
.my-personality {
  padding: 18px 32px;
  border-top: 3px solid var(--color-border);
  border-bottom: 3px solid var(--color-border);
}

.personality-traits {
  padding: 0;
  margin: 0;
  font-size: 1.25rem;
  font-style: italic;
  font-weight: 900;
  color: var(--color-text-secondary);
  text-transform: uppercase;
  list-style: none;
  animation: loop 30s linear infinite;
}

@keyframes loop {
    0% {transform: translateX(0%);}
    100% {transform: translateX(-50%);}
}
</style>