---
import { getEntry } from 'astro:content';
const allTraits = await getEntry('personality', 'traits');
import Marquee from './Marquee.jsx';
---

<div class='my-personality'>
  <Marquee client:only='react' className='personality-traits'>
    {
      allTraits.data.traits.map((trait: string, index: number) => (
        <>
          <span class='trait'>{trait}</span>
          <img class='trait-asset' src={allTraits.data.assets[index]} />
        </>
      ))
    }
  </Marquee>
</div>

<style>
  .my-personality {
    padding: 0px 0 8px 0;
    border-top: 3px solid var(--color-border);
    border-bottom: 3px solid var(--color-border);
  }

  .trait {
    font-size: 1rem;
    font-weight: 400;
    color: #3a2423;
    text-transform: uppercase;
  }

  .trait-asset {
    height: 36px;
  }
</style>

<style is:global>
  /* Child component selection requires global styling to apply */
  .personality-traits .rfm-child {
    display: flex;
    gap: 39px;
    align-items: center;
  }
</style>
