---
import TitleNav from '../components/TitleNav.astro';
import type { WebPage } from '../types/Page.mts';

interface Props {
  title: string;
  pages: WebPage[];
}

const { title, pages } = Astro.props;
---

<div class='post-page'>
  <div class='layout-container'>
    <TitleNav title={title} pages={pages} />
    <div class='content-container'>
      <slot name='content' />
    </div>
  </div>
</div>

<style>
  .post-page {
    display: flex;
    flex-flow: column;
    gap: 12px;
    align-items: center;

    img {
      width: 100%;
      height: auto;
      margin: 16px 0;
    }
  }

  .layout-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    margin: 16px 0;
  }

  .content-container {
    max-width: 70ch;
    padding: 16px 60px;
    color: var(--color-post-text);
    background: var(--color-post-background);

    > *:not(h2, h3, h4, h5, h6) {
      font-family: 'Source Serif 4', serif;
      font-size: 1rem;
      line-height: 1.2;
    }

    h2 {
      font-size: 1.25rem;
      font-weight: 600;
      line-height: 1;
    }

    li {
      margin-bottom: 1rem;
      line-height: 1.2;
    }
  }
</style>
